
::before, ::after {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.tableau-style {

  border-collapse: collapse;
  min-width: 400px;
  width: auto;

  cursor: pointer;
  margin: 100px auto;
  border: 2px solid #ECF0F1;


}

.point{

  margin-top: -90px;
}

.bopi{
  color: white;
  background-color: #58D68D;
  width: 120px;
  height: 30px;
  border-color: white;
  margin-left: 850px;
  margin-top: 60px;
}

.bop{

  color: white;
  background-color: #58D68D;
  width: 120px;
  height: 30px;
  border-color: white;
  margin-left: 600px;
  margin-top: 60px;
  margin-top: -200px;


}

.de{

 margin-top: -23px;
}

.di{

margin-top: -10px;
}
.bt1{
  color: white;
  background-color: #58D68D;
  width: 120px;
  height: 30px;
  border-color: white;
}
.bt2{

  color: white;
  background-color: #58D68D;
  width: 120px;
  height: 30px;
  border-color: white;
}

.titre{

  color: black;
  text-align: center;
  padding-top: 30px;
}

.debut{

  color: black;
  width: 100%;
  height: 90px;
  background-color: #D0D3D4 ;
  text-align: center;
  padding-top: 18px;
}

thead tr{

  background-color: #ECF0F1 ;
  color: black ;
  text-align: left;

}

th, td{

  padding: 15px 20px;
}

tbody tr, td, th{

  border: 1px solid #ddd;
}


tbody tr:nth-child(even){

  background-color: #f3f3f3;
}
